<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<form id="registerForm" method="POST" th:action="@{/register}">
    <label for="username">Username: </label>
    <input name="username" type="text" id="username"/><br/>
    <label for="password">Password: </label>
    <input name="password" type="password" id="password"/><br/>
    <label for="confirm">Confirm password: </label>
    <input name="confirm" type="password" id="confirm"/><br/>
    <label for="fullname">Full name: </label>
    <input name="fullname" type="text" id="fullname"/><br/>
    <label for="street">Street: </label>
    <input name="street" type="text" id="street"/><br/>
    <label for="city">City: </label>
    <input name="city" type="text" id="city"/><br/>
    <label for="state">State: </label>
    <input name="state" type="text" id="state"/><br/>
    <label for="zip">Zip: </label>
    <input name="zip" type="text" id="zip"/><br/>
    <label for="phone">Phone: </label>
    <input name="phone" type="text" id="phone"/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>